{% extends "base.html" %}
{% block title %} L´Erotics - {{ comic.name }} {% endblock %}
{% block content %}
    <h1>{{ comic.name }}</h1>
    <ul class="list-group">
        {% for imagem in base_img %}
        <li><img src="{{ imagem }}" class="d-block w-100" alt="..."></li>
        {% endfor %}
    </ul>
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <p>Gostou da revista Baixe agora</p>
        <a href="{{ url_for('views.pdf', nome=comic.name) }}" class="btn btn-primary" download>Download</a>
        <p>Se tiver no computador e quiser ver ou imprimir antes de baixar </p>
        <a href="{{ url_for('views.arquivo', nome=comic.name) }}" target="_blank" class="btn btn-danger">Download</a>
    </div>
    <br>


{% endblock %}